.student-home-container {
    display: flex;
    height: 100vh; 
    font-family: 'Arial', sans-serif; 
}

.student-left-pane {
    width: 25%; 
    background-color: #e6f7ff;
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.student-left-pane ul {
    list-style-type: none; 

}

.student-left-pane li {
    margin: 10px 0; 
    padding: 12px; 
    border-radius: 8px; 
    cursor: pointer;
    background-color: #ffffff; 
    color: #333; 
    transition: background-color 0.3s, color 0.3s;
}

.student-left-pane li:hover {
    background-color: #cceeff; 
    color: #004466; 
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    background-color: #4da6ff; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3399ff; 
}

.student-right-pane {
    width: 75%; 
    padding: 20px; 
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.student-right-pane h1 {
    font-size: 2rem; 
    color: #004466; 
    margin-bottom: 20px;
}

.student-right-pane h3 {
    font-size: 1.5rem; 
    color: #666666; 
}

.student-right-pane p {
    font-size: 1rem;
    color: #555555;
    line-height: 1.6;
}

.student-right-pane table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.student-right-pane table th, 
.student-right-pane table td {
    padding: 12px;
    border: 1px solid #cccccc; 
}

.student-right-pane table th {
    background-color: #e0f0ff;
    color: #004466; 
    font-weight: bold;
}

.student-right-pane table td {
    background-color: #ffffff; 
    color: #333; 
}
